      <div class="prose prose max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Augue ut lectus arcu bibendum at varius vel pharetra vel. Turpis nunc eget lorem
          dolor sed viverra ipsum nunc aliquet. Massa placerat duis ultricies lacus sed turpis tincidunt. Cursus sit
          amet dictum sit amet justo donec enim. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Id
          semper risus in hendrerit gravida rutrum quisque. Posuere ac ut consequat semper viverra nam libero justo
          laoreet. Turpis cursus in hac habitasse platea.</p>

        <p>Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Pellentesque massa placerat
          duis ultricies lacus sed. Interdum velit laoreet id donec ultrices tincidunt arcu non. Id diam maecenas
          ultricies mi eget mauris. Urna id volutpat lacus laoreet non. Amet est placerat in egestas erat imperdiet
          sed euismod. Dui sapien eget mi proin sed libero enim sed faucibus. Facilisis mauris sit amet massa vitae.
          Vitae congue mauris rhoncus aenean vel elit. Ut etiam sit amet nisl. Commodo odio aenean sed adipiscing
          diam donec adipiscing tristique.</p>

        <p>Non odio euismod lacinia at quis risus. Elit duis tristique sollicitudin nibh sit amet commodo. Aliquam
          ultrices sagittis orci a scelerisque purus semper eget duis. Ipsum consequat nisl vel pretium lectus.
          Pretium vulputate sapien nec sagittis aliquam. Morbi tincidunt augue interdum velit euismod in
          pellentesque massa. Nullam non nisi est sit.</p>
    </div>